:root {
    --heading-color-dark: #7d3536;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Raleway, sans-serif;
    letter-spacing: 0.0325rem;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--heading-color-dark);
    background-color: antiquewhite;
    width: 100vw;
    position: sticky;
    top: 0px;
}

.top-left-nav {
    display: inline-flex;
    width: 40%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-container {
    width: 4rem;
    height: 4rem;
    position: relative;
    left: 0;
}

.header-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-list {
    align-items: center;
    list-style-type: none;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    padding: 0.5rem;
}

.nav-list li {
    margin: 0.2rem 0.5rem;
    font-weight: 700;
}

.nav-list a {
    color: var(--heading-color-dark);
    text-decoration: none;
    padding: 0.25rem;
}

.nav-list a:hover {
    color: #fff;
    background-color: var(--heading-color-dark);
}

#mobile-menu {
    display: none;
}

#hero-img {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
}

.section-heading {
    font-family: Gupter, serif;
    letter-spacing: 0.0325rem;
    color: var(--heading-color-dark);
}

.product-info {
    max-width: 80vw;
    margin: 0 auto;
}

.product-info ul {
    max-width: 50vw;
    margin: 1rem auto;
}

.product-info li {
    padding: 0.25rem 0;
    line-height: 1.2rem;
}

.product-title {
    font-weight: 700;
    font-size: 1.6rem;
}

.product-subtitle {
    font-weight: 500;
    font-style: italic;
    padding: 0.5rem 0;
}

.disclaimer {
    font-style: italic;
    font-weight: 500;
}

/* TODO: animate using @keyframes slideshow {} ? */


@media only screen and (max-width: 600px) {
    .logo-container {
        display: none;
    }

    .nav-list {
        display: none;
    }

    #mobile-menu {
        align-items: center;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 1.2rem;
    }

    .nav-list {
        font-size: 0.9rem;
        font-weight: 500;
      }
}